<body class="font-mono bg-gray-400">
		<div class="container mx-auto">
			<div class="flex justify-center px-6 mt-4">
				<div class="w-full xl:w-3/4 lg:w-11/12 flex h-[750px]">
					<div
						class="w-full h-auto bg-gray-400 hidden lg:block lg:w-5/12 bg-cover rounded-l-lg"
						style="background-image: url('https://external-preview.redd.it/xm7e2Q-SV7zMt8T0TH1i_1mpoAHeGAGIBOh59nwYs3o.jpg?auto=webp&s=0421a95d23c865d1a6da2e268bc24e8d01096500')"
					></div>
					<div class="w-full lg:w-7/12 bg-white p-5 rounded-lg lg:rounded-l-none">
 				    <h3 class="pt-4 text-2xl text-center">New Post 🤖🗡</h3>
						<form class="px-8 pt-6 pb-8 mb-4 bg-white rounded" action="<%= posts_path %>" method="POST">
                  <p class="text-green-600 font-bold text-lg inline"><%= notice %></p>
                  <input type="hidden"
                          name="authenticity_token"
                              value="<%= form_authenticity_token %>">
                  <label for="post_title" class="block mb-2 text-sm font-bold text-gray-700">Title</label>
                  <input type="text"
                            name="posts[title]"
                                class="border-2 border-gray-200 rounded mb-4"
                                    id="post_title"
                                        required="required">
                  <label for="post_url" class="block mb-2 text-sm font-bold text-gray-700">URL</label>
                  <input type="text"
                            name="posts[url]"
                              class="border-2 border-gray-200 rounded mb-4"
                                  id="post_url">

                  <label for="post_content" class="block mb-2 text-sm font-bold text-gray-700">Content</label>
                  <textarea class="border-2 border-gray-200 w-[430px] h-[200px] font-bold text-xl mb-5"name="posts[content]" id="post_content"></textarea>
                  <br />
                  <% @subs.order(created_at: :desc).each do |sub| %>
                    <label class="block">
                        <input type="checkbox" name="posts[sub_ids][]" value="<%= sub.id%>"/>
                        <%= sub.title %>
                    </label>
                  <% end %>

                  <br />
                  <input type="submit"
                            value="SAVE"
                              class="inline-block text-gray-500 font-bold border-[3px] border-[#3c67e3]
                                        rounded-lg text-lg pr-[20px] pl-[20px] m-[13px]
                                        pt-[6px] pb-[6px] hover:animate-pulsate cursor-pointer">
            </form>
					</div>
				</div>
			</div>
		</div>
	</body>
