<% sub_post = Sub.find_by(:id => @post.post_subs.last.sub_id.to_i)%>
<section class="container mx-auto">
  <div class="bg-white h-[450px] w-auto mt-7 pl-[49px] pt-[25px]"> <!-- The White background -->
    <div class="font-medium pb-2"> <!-- data component -->
      <p class="text-gray-500 hover:text-gray-900 hover:transition-all duration-1000">Posted by: <a href="<%= user_path(@post.author_id)%>"><em class="text-blue-400"><%= current_user.username %></em></a>
          in: <a href="<%= sub_path(sub_post.id) %>" class="text-blue-400"><%= sub_post.title %></a>
          over <%= @post.calculate_current_time %>
      </p>
      <% if current_user.posts.find_by(:id => @post.id).present? %>
        <a href="<%= edit_post_path(@post.id)%>"><p class="pt-1">🧨Edit</p></a>
      <% end %>
    </div>
    <div class="font-bold text-xl text-gray-800">  <!-- Post.title -->
      <h1 class=""><%= @post.title %></h1>
    </div>
    <div> <!-- Post.content-->
      <p class="text-gray-600 hover:text-blue-400 hover:transition-all duration-700 shadow-outline"><%= @post.content %></p>
    </div>
    <!-- Comments Record Goes Here -->
  </div>
</section>
